body {
    font-size: 24px;
}

#step1{
    display: none;
}
#step2{
    display: none;
}
#step3{
    display: none;
}
/* Style global pour mettre dans l'ambiance */
body {
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px;
    height: 100vh;
    color: #000000;
}

/* --- ZONE DE TEXTE (INPUT) --- */
.secret-input {
    background-color: #e8e8e8;
    border: 3px solid #444;
    border-radius: 5px;
    padding: 15px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #000000;
    width: 80%;
    max-width: 600px;
    text-align: center;
    letter-spacing: 5px;
    box-shadow: inset 0px 4px 8px rgba(0,0,0,0.2);
    display: block;
}

/* --- PANNEAUX (LAMPES ET CLAVIER) --- */
.lamp-board, .keyboard-container {
    display: flex block;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 650px;
    gap: 12px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 15px rgba(255,255,255,0.8), 0px 5px 15px rgba(255,255,255,0.5);
    border: 2px solid white;
    gap: 100px;
}

.keyboard-container div {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
    margin-bottom: 15px;
}

/* --- STYLE DES TOUCHES (CLAVIER) --- */
.key {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ddd;
    border: 2px solid #888;
    color: #111;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 4px 0px #888;
    transition: all 0.1s ease;
}

.key:active {
    box-shadow: 0px 0px 0px #888;
    transform: translateY(4px); /* Effet d'enfoncement mécanique */
}

/* --- STYLE DES LAMPES (ÉTEINTES) --- */
.lamp {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #333; /* Sombre quand c'est éteint */
    color: #555; /* Lettre peu visible */
    border: 2px solid #111;
    font-weight: bold;
    font-size: 18px;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.8);
    transition: all 0.05s ease; /* Transition très rapide */
}


.lamp.lit {
    background-color: #ffaa00; 
    color: #fff;
    border-color: #ffaa00;
    box-shadow: 0px 0px 15px #ffaa00, 0px 0px 30px #ffaa00, inset 0px 0px 10px rgba(255,255,255,0.8);
    text-shadow: 0px 0px 5px #fff;
}

.main-btn {
    background-color: #C88010;
    padding: 24px 16px;
    border-radius: 12px;
    color: white;
    border: none;
}

.main-btn:hover {
    background-color: #B3976B;
}

#start {
    border: #050F08 solid 2px;
    width: 90vw;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mt-200px {
    margin-top: 200px;
}

.gap-100px {
    gap: 100px;
}

.min-px-200 {
    min-height: 200px;
}

.btnGroup {
    padding: 70px 15px;
    background-color: white;
    gap: 15px;
    border-radius: 24px;
    width: 90vw;
}

.btnGroup button {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: inset 2px solid #E5E5E5;
    background-color: transparent;
}

.question-step2 {
    text-align: center;
    margin-bottom: 50px;
}

.btnAw-sect3 {
    text-align: left;
}

.step3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.step3 img {
    width: 50%;
}

.step3 div {
    width: 100%;
}

h1 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
}