@import url('../../../reset.css');

#name {
  color: #2563eb;       
  font-size: 24px;      
  font-weight: bold;    
  margin-bottom: 10px;  
  text-transform: capitalize; 
}

.correct { background-color: green; }
.incorrect { background-color: red; }