body {
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevents scrollbars from background vectors */
    color: #000000;
}

/* =========================================
   STEP 0 STYLES (Landing Page)
   ========================================= */
#step-0-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.step0-asset {
    position: absolute;
}

/* Background squiggly line */
#vector-bg {
    width: 100vw;
    height: 1550px;
    object-position: center center; /* Keeps the split horizontally centered */
    top: 14%;
    left: 0;
    z-index: 1;
}

/* Top center Title */
#title-img {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    max-width: 500px;
    z-index: 2;
}

/* Center Head Portrait */
#turing-head {
    top: 46%; 
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 1000px;
    z-index: 2;
}
#decor-1 {
    top: 25%;
    left: 20px;
    transform: translateX(-50%); 
    width: 120px;
    z-index: 3;
}

#decor-2 {
    bottom: 15%;
    right: 20px;
    transform: translateX(50%); 
    width: 120px;
    z-index: 3;
}


#qr-placeholder {
    bottom: 3%;
    left: 1%;
    width: 200px;
    height: 200px;
    background-color: #d1d1d1;
    z-index: 3;
}


#enigma-logo {
    bottom: 5%;
    left: 5%;
    width: 200px;
    z-index: 3;
}


@media (orientation: landscape) {
    #turing-head {
        height: 75vh;
    }
    #qr-placeholder {
        width: 120px;
        height: 120px;
    }
}


.titre{
    position:absolute;
    top: 5%;
}

#step-1-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 300px;
    z-index: 5;
}


#step1-vector-bg {
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    z-index: -1;
}



#tv-container {
    position: relative;
    width: 600px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#tv-img {
    width: 100%;
    height: auto;
    display: block;
}

#tv-screen {
    position: absolute;
    top: 50%;
    left: 42%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
}




.secret-input {
    background: transparent;
    border: none;
    border-bottom: 3px solid #000;
    border-radius: 0;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #000;
    width: 90%;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 5px;
    margin: 0;
    box-shadow: none;
}

.lamp-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 758px;
    gap: 12px;
    background-image: url(/src/turing/assets/planche.svg);
    background-size: 100% 100%;
    background-position: center;
    background-color: transparent;
    padding: 60px;
    border: none;
    box-shadow: none;
    z-index: 10;
    
}

.key {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ddd;
    border: 2px solid #888;
    color: #111;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 0px #888;
    transition: all 0.1s ease;
}

.key:active {
    box-shadow: 0px 0px 0px #888;
    transform: translateY(4px);
}
.lamp-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; /* Espace entre l'ampoule et la lettre en dessous */
}

.lamp {
    width: 60px;
    height: 60px;
    
    background-image: url('../assets/lampe_éteinte.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    transition: all 0.05s ease;
}

.lamp.lit {
    background-image: url('../assets/lampe_allumée.svg');
}


.lamp-label {
    color: #000000; /* Couleur du texte sur la planche en bois */
    font-weight: bolder;
    font-size: 33px;
    font-family: 'Courier New', Courier, monospace;
}







