body {
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px;
    color: #000000;
}


.lamp-board, .keyboard-container {
    display: flex block;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 650px;
    gap: 12px;
    background-color: #2a2a2a;
    padding: 25px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 15px rgba(0,0,0,0.8), 0px 5px 15px rgba(0,0,0,0.5);
    border: 2px solid #111;
}

.key {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ddd;
    border: 2px solid #888;
    color: #111;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 4px 0px #888;
    transition: all 0.1s ease;
}

.key:active {
    box-shadow: 0px 0px 0px #888;
    transform: translateY(4px); /* Effet d'enfoncement mécanique */
}


.lamp {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #333; /* Sombre quand c'est éteint */
    color: #555; /* Lettre peu visible */
    border: 2px solid #111;
    font-weight: bold;
    font-size: 18px;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.8);
    transition: all 0.05s ease; /* Transition très rapide */
}


.lamp.lit {
    background-color: #ffaa00; 
    color: #fff;
    border-color: #ffaa00;
    box-shadow: 0px 0px 15px #ffaa00, 0px 0px 30px #ffaa00, inset 0px 0px 10px rgba(255,255,255,0.8);
    text-shadow: 0px 0px 5px #fff;
}

