@import url(../../../reset.css);

body{
    background-color: #2B196D;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.show-bg {
    background: url(../assets/homePage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    /* min-height: 100vh;
    width: 100%;
    overflow: hidden; */
}

#lecteur {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: none;
}