@import url(../../../reset.css);

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#steps {
    width: 100vw;
    height: 100vh;
    /* padding: 50px; */
}

#step2 {
    background: repeating-linear-gradient(
        to right,
        #E8C8A0,
        #E8C8A0 80px,
        #FAF0E4 80px,
        #FAF0E4 150px
    );
}

.portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    position: absolute;
}

#longDesc {
    text-align: center;
    width: 580px;
    opacity: 0;
}

.portrait img {
    height: 300px;
    width: auto;
}

#portrait1 {
    top: 200px;
    right: 90px;
}

#portrait2 {
    top: 600px;
    left: 30px;
}

#portrait3 {
    bottom: 200px;
    right: 300px;
}

#lamp {
    position: absolute;
    top: 0;
    left: 34%;
    height: 400px;
    width: auto;
}

.step {
    padding: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

p {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#step1 {
    gap: 80px;
}

#step1 p {
    max-width: 500px;
    font-size: 20px;
}

#paragraph2 {
    text-align: right;
    right: -464px;
    position: relative;
}

h1, h2 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 55px;
}

#map, #map2 {
    height: 400px;
    width: auto;
    margin-top: 200px;
}

#bubble {
    background-color: red;
    border-radius: 1000px;
    height: 400px;
    width: 400px;
    position: absolute;
    bottom: -60px;
    right: -60px;
}