@import url(../../../reset.css);

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#steps {
    width: 100vw;
    height: 100vh;
}

#step0 h2 {
    color: #FAF0E4;
    margin-left: 70px;
}

/* #step0 {
    background-color: #56A6FF;
} */

#step2 {
    background: repeating-linear-gradient(
        to right,
        #E8C8A0,
        #E8C8A0 80px,
        #FAF0E4 80px,
        #FAF0E4 150px
    );
}

#step2 h2, #step3 h2 {
    font-size: 85px;
    color: #7A3A2A;
}


#step2 #miniInfos {
    margin-left: 0;
    opacity: 0;
}

#video3 {
    position: absolute;
    bottom: 20px;
    height: 2000px;
    opacity: 0;
}


.portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    position: absolute;
}

#longDesc {
    text-align: center;
    width: 580px;
    opacity: 0;
}

.portrait img {
    height: 400px;
    width: auto;
}

#portrait1 {
    top: 200px;
    right: -20px;
}

#portrait2 {
    top: 600px;
    left: 30px;
}

#portrait3 {
    bottom: 200px;
    right: 300px;
}

#lamp {
    position: absolute;
    top: 0;
    left: 26%;
    height: 700px;
    width: auto;
}

.step {
    padding: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    opacity: 0;
}

p {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#step1 {
    background-color: #FAF0E4;
    gap: 80px;
}

#step3 {
    background-color: #FAF0E4;
}

#video2 {
    position: absolute;
    left: -40px;
    top: -20px;
}

#step1 p {
    max-width: 500px;
    font-size: 24px;
}



h1, h2 {
    font-family: "Anton SC", sans-serif;
    font-optical-sizing: auto;
}

h1 {
    font-size: 130px;
    margin-top: 100px;
}

h2 {
    font-size: 55px;
}

#map {
    height: 630px;
    width: auto;
    margin-top: 140px;
}

#map2 {
    height: 630px;
    width: auto;
}

#step1 h2 {
    /* margin-top: 100px; */
    font-size: 85px;
}

#vector1 {
    position: absolute;
    height: 800px;
    width: auto;
    left: -170px;
    top: 170px;
    z-index: -1;
}

#vector2 {
    position: absolute;
    height: 8428px;
    top: -2462px;
    rotate: -3deg;
    right: -244px;
}

#vector3 {
    position: absolute;
    height: 700px;
    right: -200px;
    top: 0;
    z-index: -1;
}

#gif {
    height: 1200px;
    position: absolute;
    left: 280px;
    top: 100px;
    z-index: -1;
    object-fit: contain;
}

#bubble {
    border-radius: 1000px;
    height: 400px;
    width: 400px;
    position: absolute;
    bottom: -60px;
    right: -60px;
}

#video4 {
    position: absolute;
    height: 2000px;
    top: 100px;
    left: -400px;
}

#step4, #step0 {
    /* On définit la variable avec l'angle de départ */
    --angle: 180deg;
    
    /* On utilise la variable dans le gradient */
    background: linear-gradient(var(--angle), #F2C0C0 0.96%, #E40000 53.37%, #70140D 100%);
    
    /* Optionnel : assure-toi que l'élément a une taille */
    min-height: 300px; 
    width: 100%;
}

#pathPath {
    z-index: -1;
    position: absolute;
    height: 2000px;
    left: 200px;
    top: -45px;
}

#fondBass {
    position: absolute;
    top: 330px;
    right: 180px;
    height: 1000px;

    
  display: block;
  margin: 0 auto;
  transform-origin: center center;

}

#pp {
    margin-left: 150px;
}


#qrcode {
    background-color: #fff;
    padding: 25px;
    border-radius: 26px;
    width: fit-content;
    /* scale: 1; */
}

#backgroundPath {
    position: absolute;
    top: -3000px;
    height: 9000px;
}

#step4 h1 {
    width: 300px;
    line-height: 1;
}

#video5 {
    position: absolute;
    height: 300px;
    top: 650px;
    right: 100px;
}

#miniInfos98 {
    position: absolute;
    bottom: 200px;
    right: 100px;
}

#miniInfos99 {
    margin-top: 80px;
}

#main {
    position: absolute;
    top: 0;
    right: 0;
}

#step2 .miniInfos {
    opacity: 0;
    margin-top: 200px;
}

#miniAnswer {
    position: absolute;
    top: 220px;

    opacity: 0;
}

.miniTitle {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    
}

.miniInfos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 600px;

    /* margin-top: 200px;
    margin-left: 480px; */
}

.miniInfos p {
    font-size: 22px;
}

#paragraph1 {
    margin-top: 100px;
}

#paragraph2 {
    margin-top: 50px;
    margin-left: 500px;
}

h3 {
    font-size: 25px;
    font-family: "Jost";
}