body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

#lecteur {
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Important : remplit l'écran sans déformer */
    display: none;
}

/* Si tu veux forcer un ratio 9:16 centré sur l'écran desktop */
@media (min-aspect-ratio: 9/16) {
    #lecteur {
        width: auto;
        height: 100vh;
        aspect-ratio: 9/16;
        margin: 0 auto;
    }
}