RewriteEngine on
RewriteRule ^([a-zA-Z]+)/?$ index.php?name=$1 [L,QSA]
RewriteRule ^([a-zA-Z]+)/([0-9]+)/?$ index.php?name=$1&step=$2 [L,QSA]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/?$ index.php?name=$1&params=$2 [L,QSA]